@import "utils/reset";
@import "utils/vars";
@import "button";
@import "wrapper";
@import "heading";
@import "../components/Navbar/header";
@import "link";
@import "../components/Home/home";
@import "../components/Loader/loader";
@import "../components/Footer/footer";
@import "../containers/basket/basket";
@import "../containers/PhoneInBasket/phoneInBasket";
@import "../containers/Phones/phones";
@import "../components/NoSuchPhone/no-such-phone";
@import "../containers/Phone/phone";
@import "../containers/Phones/phone-card";
@import "../components/Pagination/pagination";
@import "../components/Page404/page404";
@import "../components/Rights/rights";
@import "media";

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkMark {
  width: 16px;
}
